services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-flxo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-flxo}
      POSTGRES_DB: ${POSTGRES_DB:-flxo}
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: